@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather+Sans:wght@700&family=Merriweather:wght@300&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
nav{
    height: 10vh;
    text-align: right; 
    margin-right: 2%;
}
a{
    color: black;
    text-decoration: none;
}
li{
    font-family: 'Merriweather', serif;
    display: inline;
    margin-right: 1%;
    text-transform: uppercase;
}  
article{
    margin-left: 10%;
    padding-top: 10%;
}
.firstbutton{
    background: black;
    color: white;
    height: 5vh;
    width: 6vw;
}
.secondbutton{
    background: white;
    color: black;
    height: 5vh;
    width: 6vw;
}
h1{
    font-family: 'Lato', sans-serif;
    font-size: 4em;
    color: black;
    margin-bottom: 1px;

    
}
p{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2em bold;
    color: #202020;
}
#sectionfirst{
    background: url(../img/illustration1.gif) right/contain no-repeat;
    margin-right: 20%;
    height: 80vh;

}
.h1second{
    margin-top: 0;
}
#secondsection{
    background: url(../img/illustration2.png) left/contain no-repeat;
    margin-left: 5%;
    height: 80vh;
    text-align: center;
}
secondartikel{
    text-align: center;
}
.h1four{
    margin-top: 0;
    margin-bottom: 1%;
}
#thirdsection{
    background: url(../img/illustration3.png) right/contain no-repeat;
    margin-right: 20%;
    height: 80vh;

}
.h1six{
    border-bottom: 1%;
    margin-top: 0;
}
#sectionfour{
    text-align: center;
    padding-top: 0;
    padding-bottom: 5%;
}
#sectionfive{
    text-align: center;
}
#sectionfive img{
    height: 40vh;
    width: 20vw;
    padding-left: 10%;
}
.thirdarticle{
    text-align: center;
}
#sectionsix img{
    height: 50vh;
    width: 40vw;
    padding-left: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
}
#articlefour{
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}
#sectionsix{
    text-align: center;
}
#articlefive{
    border: 1px solid lightgray;
    height: 70vh;
    width: 15vw;
    padding-top: 3%;
    margin-top: 3%;
    margin-left: 48%;
    background: rgb(245, 251, 254);
}
.thirdbutton{
    background: #24bff2;
    border-radius: 10px;
    border-color: #24bff2;
    color: white;
    height: 6vh;
    width: 8vw;
    margin-top: 5%;
}
footer{
    text-align: center;
    margin-left: 10%;
}
.last{
    font-family: 'Merriweather', serif;
    color: lightgray;
}
.afb::before{
    content:"\A";
    width:3px;
    height:3px;
    border-radius:50%;
    background: blue;
    display:inline-block;
}
.aig::before{
    content:"\A";
    width:3px;
    height:3px;
    border-radius:50%;
    background: orange;
    display:inline-block;
}
.atw::before{
    content:"\A";
    width:3px;
    height:3px;
    border-radius:50%;
    background: lightblue;
    display:inline-block;
}
.ayt::before{
    content:"\A";
    width:3px;
    height:3px;
    border-radius:50%;
    background: #b83b3b;
    display:inline-block;
}

/* Font: Merriweather, Lato
Farbe: #202020, #24bff2, #fff, #F5FBFE.
Farbe social media: #3b5998, #fcaf45, #55acee, #c4302b */
/* font-family: 'Lato', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Merriweather', serif; */